body {
    margin: 0;
}

.title {
    font-size: 45px;
}

.mini-title {
    font-size: 30px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar */
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}