#what-is-ftc {
    padding: 30px;
    padding-top: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#what-is-ftc div {
    width: 600px;
}

@media only screen and (max-width: 600px) {
    #what-is-ftc div {
        width: calc(100% - 20px);
    }
}