#intro {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intro div {
    width: 600px;
}

@media only screen and (max-width: 600px) {
    #intro div {
        width: calc(100% - 20px);
    }
}

#team {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

#cards {
    display: inline-grid;
    justify-items: start;
}

.card {
    display: inline-flex;
    align-items: center;
}

.card img {
    width: 75px;
    margin-right: 10px;
}

.card p {
    font-size: 20px;
}

.card div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.role {
    color: gray;
    font-size: 17px !important;
    margin-top: -20px;
}